In [1]:
import pandas as pd

In [2]:
df1= pd.read_csv('D:/automation_a_xvii_la_supply/dashboard files/5 to 17 feb data raw.csv')
df1.head()

,Test_date_time,Profile_id,Patient_id,Test_result,Test_status,Lab_name,User_name,Sample_type,Truelab_id,Lot,Chip_serial_no,Raw_data_filename,Ct1,Ct2,Ct3,Bayno,Chip_batchno,Result_recieved_date
0,2025-02-17 23:54:14,MTB,554,Not Detected,Valid,GJ/BH/DMCPALITANA/CTD,DMCPALITANA,Sputum,TLDU1855-c39c182,119TB,D32924185360,MTB_2025-02-17_23-54-14.txt,27.14,ND,ND,2,198HLGW,2025-02-18 00:39:57
1,2025-02-17 23:52:07,MTB,ACC/623/25,Not Detected,Valid,WB/KO/Alipore Chest Clinic/CTD,AlipurChestClinc,Sputum,TLDU0789-c3ab8ea,119TB,D34623181784,MTB_2025-02-17_23-52-07.txt,27.20,ND,ND,2,198HLGW,2025-02-18 09:37:27
2,2025-02-17 23:48:40,MTB,ACC/621/25,Not Detected,Valid,WB/KO/Alipore Chest Clinic/CTD,AlipurChestClinc,Sputum,TLDU0789-c3ab8ea,119TB,D31124212042,MTB_2025-02-17_23-48-40.txt,28.75,ND,ND,1,198HLGW,2025-02-18 09:37:27
3,2025-02-17 23:25:19,MTB,464/25,Not Detected,Valid,HR/SNP/Ganaur/CHC/CTD,CHCGanaur,Sputum,TLDU1913-c3aae0d,084TB,D31121024898,MTB_2025-02-17_23-25-19.txt,26.67,ND,ND,2,199HLGW,2025-02-18 00:11:14
4,2025-02-17 23:23:39,MTB,463/25,Not Detected,Valid,HR/SNP/Ganaur/CHC/CTD,CHCGanaur,Sputum,TLDU1913-c3aae0d,084TB,D31224340856,MTB_2025-02-17_23-23-39.txt,27.00,ND,ND,1,199HLGW,2025-02-18 00:08:16

In [3]:

# from python file named clean_data
# Cleaning steps
df_wun = df1[~df1['User_name'].isin(['Service'])]
df_wun = df_wun[~df_wun['Lab_name'].isin(['QC'])]
df_clean = df_wun.assign(Truelab_id=df_wun['Truelab_id'].apply(lambda x: x.partition('-')[0]))
df_clean['Chip_serial_no'] = df_clean['Chip_serial_no'].str[:2]
df_clean = df_clean.drop_duplicates(keep='first')
df_clean['Ct1'] = pd.to_numeric(df_clean['Ct1'], errors='coerce').fillna(0)
df_clean['Ct2'] = pd.to_numeric(df_clean['Ct2'], errors='coerce').fillna(0)
df_clean['Ct3'] = pd.to_numeric(df_clean['Ct3'], errors='coerce').fillna(0)
df_clean.head()

,Test_date_time,Profile_id,Patient_id,Test_result,Test_status,Lab_name,User_name,Sample_type,Truelab_id,Lot,Chip_serial_no,Raw_data_filename,Ct1,Ct2,Ct3,Bayno,Chip_batchno,Result_recieved_date
0,2025-02-17 23:54:14,MTB,554,Not Detected,Valid,GJ/BH/DMCPALITANA/CTD,DMCPALITANA,Sputum,TLDU1855,119TB,D3,MTB_2025-02-17_23-54-14.txt,27.14,0.0,0.0,2,198HLGW,2025-02-18 00:39:57
1,2025-02-17 23:52:07,MTB,ACC/623/25,Not Detected,Valid,WB/KO/Alipore Chest Clinic/CTD,AlipurChestClinc,Sputum,TLDU0789,119TB,D3,MTB_2025-02-17_23-52-07.txt,27.20,0.0,0.0,2,198HLGW,2025-02-18 09:37:27
2,2025-02-17 23:48:40,MTB,ACC/621/25,Not Detected,Valid,WB/KO/Alipore Chest Clinic/CTD,AlipurChestClinc,Sputum,TLDU0789,119TB,D3,MTB_2025-02-17_23-48-40.txt,28.75,0.0,0.0,1,198HLGW,2025-02-18 09:37:27
3,2025-02-17 23:25:19,MTB,464/25,Not Detected,Valid,HR/SNP/Ganaur/CHC/CTD,CHCGanaur,Sputum,TLDU1913,084TB,D3,MTB_2025-02-17_23-25-19.txt,26.67,0.0,0.0,2,199HLGW,2025-02-18 00:11:14
4,2025-02-17 23:23:39,MTB,463/25,Not Detected,Valid,HR/SNP/Ganaur/CHC/CTD,CHCGanaur,Sputum,TLDU1913,084TB,D3,MTB_2025-02-17_23-23-39.txt,27.00,0.0,0.0,1,199HLGW,2025-02-18 00:08:16

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57227 entries, 0 to 57332
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Test_date_time        57227 non-null  object
 1   Profile_id            57227 non-null  object
 2   Patient_id            57227 non-null  object
 3   Test_result           52593 non-null  object
 4   Test_status           57225 non-null  object
 5   Lab_name              57178 non-null  object
 6   User_name             57227 non-null  object
 7   Sample_type           57227 non-null  object
 8   Truelab_id            57227 non-null  object
 9   Lot                   57227 non-null  object
 10  Chip_serial_no        57227 non-null  object
 11  Raw_data_filename     57227 non-null  object
 12  Ct1                   57227 non-null  float64
 13  Ct2                   57227 non-null  float64
 14  Ct3                   57227 non-null  float64
 15  Bayno                 57227 non-null  int64
 16  Chip_batchno          57227 non-null  object
 17  Result_recieved_date  57227 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 8.3+ MB

In [5]:
#Pivot for MTB Test Status and using lambda function calculate INV per bad
pivot = pd.pivot_table(df_clean, index= ['Lot','Chip_serial_no'], values='Patient_id', columns='Test_status', aggfunc= 'count',margins=True)
pivotdf = pd.DataFrame(pivot.to_records())
# Specify the columns to fill NaN with 0
columns_to_fill = ['Error-1','Error-1A','Error-2','Error-3','Error-4','Error-5','Invalid']

# Fill NaN values in the specified columns with 0
pivotdf[columns_to_fill] = pivotdf[columns_to_fill].fillna(0)
pivotdf["INV_per"] = round(pivotdf.Invalid/pivotdf.All*100,2)
#pivot1df = round(pivot1df.assign(INV_per = lambda x: x.Invalid / x.All * 100),2)

pivotdf.head(20)

,Lot,Chip_serial_no,Error-1,Error-1A,Error-2,Error-3,Error-4,Error-5,Invalid,Valid,All,INV_per
0,076TB,D3,0.0,0.0,0.0,0.0,0.0,0.0,4.0,69.0,73,5.48
1,077TB,D3,18.0,0.0,2.0,5.0,1.0,11.0,135.0,1401.0,1573,8.58
2,078TB,D3,11.0,0.0,12.0,2.0,3.0,18.0,196.0,3281.0,3523,5.56
3,079TB,D3,14.0,0.0,15.0,3.0,4.0,21.0,258.0,3547.0,3862,6.68
4,079TB,D4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2,50.00
5,079TB,D5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3,0.00
6,079TB,V4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0,11,9.09
7,080TB,D3,2.0,0.0,0.0,0.0,1.0,5.0,20.0,228.0,256,7.81
8,080TB,D5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0.00
9,080TB,V3,16.0,0.0,4.0,0.0,2.0,4.0,54.0,801.0,881,6.13
10,080TB,V4,6.0,0.0,0.0,0.0,0.0,0.0,29.0,379.0,414,7.00
11,081TB,D3,7.0,0.0,2.0,0.0,1.0,4.0,44.0,653.0,711,6.19
12,081TB,D5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11.0,12,8.33
13,081TB,V3,12.0,1.0,8.0,0.0,3.0,10.0,71.0,2259.0,2364,3.00
14,081TB,V4,1.0,0.0,0.0,0.0,1.0,0.0,38.0,147.0,187,20.32
15,082TB,D3,8.0,0.0,3.0,5.0,8.0,14.0,144.0,2957.0,3139,4.59
16,082TB,V3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0.00
17,083TB,D3,22.0,0.0,5.0,3.0,4.0,31.0,171.0,2509.0,2745,6.23
18,084TB,D3,35.0,0.0,15.0,10.0,2.0,18.0,194.0,3461.0,3735,5.19
19,084TB,D4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,0.00